{% extends "base.html" %}
{% load static %}
{% block content1 %} 
<div class="row my-5">
	<div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/im.jpg' %}" alt="Image" class="aboutimage">
    </div>

    <div class="col-7 text-left text-light">
        <h2>Hello !</h2>
        <p class="fs-5">
             I'm  a B.Tech student with a strong passion for Full Stack Development. 
             Throughout my academic journey, I've gained hands-on experience in building both front-end and back-end components of web applications. 
             I enjoy working with technologies like Java, HTML, CSS, JavaScript (React, Angular), and back-end frameworks like Node.js and Python (Django).
             With a keen interest in designing scalable, efficient, and user-friendly applications, I focus on building full stack solutions that solve real-world problems.
            I'm continuously learning and excited about expanding my skill set in areas like cloud deployment, databases, and modern web development practices.
        </p>

    </div>
 
</div>

<div class="row" my-2>
    <h2 class="text-center" style="color: #4fffb0;">My Tech Stack</h2>
    <div class="d-flex justify-content-around align-items-center">
        <img
        src="{% static 'images/java.png' %}" 
        alt="java-logo"
        height="70"
        width="70"
        class="img-fluid">

        <img
        src="{% static 'images/htmll.png' %}" 
        alt="html-logo"
        height="70"
        width="70"
        class="img-fluid">

        <img
        src="{% static 'images/css.png' %}" 
        alt="css-logo"
        height="70"
        width="70"
        class="img-fluid">
        
        <img
        src="{% static 'images/js.jpg' %}" 
        alt="js-logo"
        height="70"
        width="70"
        class="img-fluid">
        
        <img
        src="{% static 'images/react.png' %}" 
        alt="react-logo"
        height="70"
        width="70"
        class="img-fluid">
        
        <img
        src="{% static 'images/djangoo.png' %}" 
        alt="django-logo"
        height="70"
        width="70"
        class="img-fluid">
    </div>
</div>

{% endblock content1 %}